body, html {
	height:100%;
	padding: 0px;
}

.main-container {
	display: inline-block;
	width: 40%;
	overflow-x: auto; 
	overflow-y: auto;
	height: 100%;
	padding-right: 0px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.material-list {
	display: inline-block;
	width: 60%;
	position: fixed;
}

.material-list-header {
    height: 25px;
    background-color: #dff0d8;
    text-align: left;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.material-list-title {
    margin-top: 5px;
    font-size: 10px;
    margin-left: 10px;
    display: inline-block;
}

.material-list-content {
	max-height: 100px;
	overflow-x: hidden; 
	overflow-y: auto;
	display: none;
	-moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.material-list-header .glyphicon {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 15px;
}

a.material {
	display: block;
	margin: 0px;
	padding: 2px;
	background-color: white;
	border-bottom: 1px solid silver;
	height: 25px;
	width: inherit;
}

.material-container {
	width: 59%;
	height: 100%;
	float: right;
	display: inline-block;
	border-left: 1px solid silver;
}

.material-container iframe{	
	height: 95%;
	margin-top: 27px;
	width: 100%;
	border: 0px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	overflow-x: auto; 
	overflow-y: auto;
}

.dialogue {
	height: 85%;
	width: 98%;
	overflow-y: auto; 
	background-color: #dff0d8;
	padding: 10px;
	margin: 5px;
}

.dialogue .msg {
	margin-bottom: 10px;
	width: 80%;
	display: inline-block;
	background-color: white;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

.dialogue .msg.self {
	float: right;
}

.dialogue .msg a.details {
	color: green;
	font-size: 15px;
}

.dialogue img {
	max-width: 70%;
}

.msg-input textarea {
	margin-left: 5px;
	width: 85%;
	display: inline-block;
	float: left;
}

.msg-input button {
	margin-left: 10px;
	margin-top: 3px;
}

.msg-detail {
	width: 50%;
	height: 40%;
	display: none;
	position: fixed;
	left: 30%;
	top: 20%;
	background-color: white;
}

.msg-detail .msg-title {
	font-size: 20px;
	padding: 5px;
	margin-left: 10px;
}

.msg-detail .panel-body {
	padding: 5px;
	max-height: 300px;
	overflow-y: auto;
}

.editor-wrapper {
	max-width: 700px;
	width: 350px;
	height: 80%;
	display: none;
	position: fixed;
	left: 10%;
	top: 10%;
	background-color: white;
	overflow-y: auto;
}

.panel-heading .action {
	float: right;
}

.panel-heading .action .glyphicon-remove{
	color: gray;
	margin-left: 10px;
}

.new-material {
	max-width: 700px;
	width: 500px;
	height: 40%;
	display: none;
	position: fixed;
	left: 3%;
	top: 10%;
	background-color: white;
	overflow-y: auto;
}