body {
	background-color: #F0F0E9;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: none;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
}

.navbar-right {
	margin-right: 20px;
}

ul.dropdown-menu li {
	text-align: center;
}

.user img {
    height: 30px;
}

.col-md-7 {
	text-align: center;
}

.load-large {
	margin-top: 80px;
}
.content {
    margin-top: 50px;
    margin-bottom: 20px;
}

.item {
    background-color: white;  
    border-color: silver;
    padding-left: 5px;
    text-align: left;
}

.item img {
    float: right;
    margin-bottom: 15px;
}

.item .favorite{
    float: right;
    width: 40px;
    height: 40px;
    margin: 0;
    display: inline-block;
}

.item .favorite img {
    float: right;
    width: 40px;
    margin: 0;
}

.itemtop {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px 0px;
}

.itemtitle {
    font-size: 23px;
}

.itemtag {  
    color: rgb(113, 90, 152);
    margin-right: 5px;
}

.itemtaglist {
    margin-top: 5px;
    margin-right: 10px;
    padding: 2px 5px;
}

.itembottom {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.itemdes {
    margin-left: 10px;
    line-height: 150%;
    margin: 0 5px;
    word-wrap: break-word;
}

.tagadd {
    margin-left: 5px;
    font-size: 10px;
    color: rgb(27, 194, 22);
}

.newtag {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    display: none;
}

.viewmore, .load-sm{
    text-align: center;
    background-color: white;
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    padding-top: 7px;
}

.load-sm {
	display: none;
}

.load-sm img {
    width: 25px;
    height: 25px;
}

.backtotop {
	position: fixed;
	display: none;
	bottom: 50px;
	font-size: 40px;
}

.svgdiv {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

svg {
    margin-left: 5px;
}

svg.source rect {
    fill: green;
}

svg.source rect:hover {
    fill: orange;
}

.category-source {
    text-align:left;
}

.category-source form {
    padding: 10px;
}

.category-source .order-by {
    margin-top: 5px;
}

.category-source button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.category-source .view-all-sources{
    text-align: center;
    width: inherit;
}

.category-source .source-hide {
    display: none;
}