.register .login {
    margin-top: 40px;
    text-align: center;
}

.help-block {
    margin-top: 5px;
    text-align: left;
    display: inline-block;
}

.veri_q {
	text-align: center;
	font-size: 15px;
}

.veri_q .question {
	text-align: left;
}

.veri_q .radio-inline {
	font-size: 17px;
	margin-right: 20px;
}

.robot-checker {
	display: inline-block;
	width: 40px;
	height: 40px;
    margin-right: 5px;
    color: #dedede;
}

.robot-checker input {
	margin-top: 13px;
	margin-left: 13px;
}
