<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jQuery -->
    <script type="text/javascript" language="javascript" src="./js/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js"></script>
    <!-- self -->
    <link href="logreg.css" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="logreg.js" ></script>
	<title>用户注册</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<form class="form-horizontal register" action="{% url 'register' %}" method="POST">{% csrf_token %}
					<div class="form-group has-feedback" id="uname">
					    <label class="control-label col-sm-3">用户名</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
					      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					      <span class="help-block"></span>
					    </div>
					</div>
					<div class="form-group has-feedback" id="upwd">
					    <label class="control-label col-sm-3">密码</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
					      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					      <span class="help-block"></span>
					    </div>
					</div>
					<div class="form-group has-feedback" id="email">
					    <label class="control-label col-sm-3">邮箱</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
					      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					      <span class="help-block"></span>
					    </div>
					</div>
					<div class="form-group" id="udes">
					    <label class="control-label col-sm-3">自我描述</label>
					    <div class="col-sm-9">
					      <textarea class="form-control" rows="5"></textarea>
					    </div>
					</div>
					<div class="form-group veri_q">
						<label class="control-label col-sm-3">验证</label>
					</div>
					<div class="form-group">
						<button type="button" class="col-md-2 col-md-offset-5 btn btn-default" id="gotologin">登陆</button>
						<button type="submit" class="col-md-2 col-md-offset-1 btn btn-primary">注册</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body></html>