<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK">
	<script type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
</head>
<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

</style>
<body>
	<div>
	</div>
	<script type="text/javascript">
var margin = 20,
    diameter = 960,
    color = d3.scale.category20c();

var pack = d3.layout.pack()
    .padding(2)
    .value(function(d) { return d.size; })
    .sort(function comparator(a, b) { return b.value - a.value; })
    .size([diameter - margin, diameter - margin]);

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble")
    .append("g")
    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

/*d3.json("history.json", function(error, root) {
  var node = svg.selectAll(".node")
      .data(bubble.nodes(root)
      	.filter(function(d){ return !(d.name=="history"); }))      
      .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d, i){ return color(d.name); }) 

  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { if(d.value > 100 && !d.children) return d.name; });

  node.append("title")
      .text(function(d) { return d.name + ": " + d.value; });

});*/

d3.json("history.json", function(error, root) {
  if (error) return console.error(error);

  var focus = root,
      nodes = pack.nodes(root),
      view;

  var nodeg = svg.selectAll(".node")
      .data(nodes
        .filter(function(d){ return !(d.name=="history"); }))      
      .enter().append("g")
      .attr("class", "node")

  var circle = nodeg.append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return color(d.name); })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var title = nodeg.append("title")
      .text(function(d) { return d.name + ": " + d.value; });

  var text = svg.selectAll("text")
      .data(nodes
        .filter(function(d){ return !(d.name=="history"); }))
      .enter().append("text")
      .attr("class", "label")
      //.style("display", function(d) { return d.parent === root ? null : "none"; })
      .text(function(d) { if(d.r > 30 && d.children ) return d.name; });
  
  var node = svg.selectAll("circle,text");

  d3.select("body")
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
    text.text(function(d) { 
      if( (k>1.05 && d.r*k > 20 && !d.children)||(k<1.05 && d.r > 20 && d.children) ) return d.name;
    });
  }
});

	</script>
</body>
</html>