{% load newlibrary %}
{% for msg in msglist %}
<div class="msg{% if request.user.id %}{%ifequal msg.user.id request.user.id %}
     self{% endifequal %}{% endif %}" id="{{ msg.id }}">
    <div class="msg-header">
        <a href="javascript:void(0)" class="user">
        <img class="img-rounded" src="/static/img/icon.png" height="25"/>
        <span>{{ msg.user.name }}</span></a>
        <span>{% dtformat msg.timestamp offset dtoffset %}</span>
    </div>
    <div class="msg-content">
        {{ msg.title }}
        {% ifequal msg.content '' %}{% else %}
            <a href="javascript:void(0)" class="viewmsgdetail">查看详细</a>
        {% endifequal %}
    </div>
</div>
{% endfor %}