<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link href="{{STATIC_URL}}css/logreg.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" language='javascript' src='{{STATIC_URL}}js/jquery-1.11.1.min.js' >
    </script>
    <script type="text/javascript" language='javascript'src='{{STATIC_URL}}js/csrf.js' ></script>
    <script type="text/javascript" language='javascript' src='{{STATIC_URL}}js/logreg.js'></script>
</head>
<body>
	<div class="content">
		<form class="register" action="{% url 'register' %}" method="POST">{% csrf_token %}
			<div>
				用户名: <br/><span>*</span>
				<input type="text" name="uname" />
			</div>	
			<div>
				密码: <br/><span>*</span>
				<input type="password" name="pwd"/>
			</div>
			<div>
				邮箱: <br/><span>*</span>
				<input type="text" name="email" />
			</div>
			<div>
				自我描述: <br/>
				<textarea rows="5" cols="40" name="des"></textarea>
			</div>
			<input type="button" id="gotologin" value="登陆" />
			<input type="submit" id="submitreg" value="注册" />
		</form>
	</div>

</body></html>