{% load newlibrary %}
<div class="modal fade" id="scModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content category-source">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选择需要浏览的类别（源）</h4>
      </div>
      <form>
      <div class="modal-body">
        <span>排序方式：</span><br/>
        <select class="form-control order-by">
          <option value="time"{% ifequal orderby 'time' %} selected="selected"{% endifequal %}>按时间降序</option>
          <option value="hot"{% ifequal orderby 'hot' %} selected="selected"{% endifequal %}>按热门</option>
          <option value="favo"{% ifequal orderby 'favo' %} selected="selected"{% endifequal %}>按评价</option>
          <option value="random"{% ifequal orderby 'random' %} selected="selected"{% endifequal %}>随机排序</option>
        </select>        
        <br/>
        <span>类别:</span>
    		<ul class="list-inline categoris">
    			{% for c in categories %}
    			<li><button type="button" class="btn category{% ifin c param_c %} btn-success{% endifin %}">{{ c }}</button></li>
    			{% endfor %}
    		</ul>		
    		<span>源:</span>
    		<ul class="list-inline sources">
    			{% for s in sources %}
    			<li><button type="button" class="btn source{% ifin s param_s %} btn-success{% endifin %}">{{ s }}</button></li>
    			{% endfor %}	
    		</ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" {% if submitdisabled %}disabled="disabled"{% endif %}>提交</button>
      </div>
  	</form>
    </div>
  </div>
</div>