{% load newlibrary %}
{% reorder itemlist by orders as itemlist %}
{% for i in itemlist %}
<div class="item" id="{{ i.id }}">
	<div class="itemtop">
		<a href="{{ i.link }}" target="_blank" class="itemtitle">
			{{ i.title }}
		</a>
	</div>
	{% if i.imgurl %}
	<img class="col-md-4 col-sm-4 col-xs-12" src="{{ i.imgurl }}" />
	{% endif %}
	<span class="itemdes">
		{{ i.des }}
	</span>
	<div class="itemtaglist">
		<span>
			标签：
		</span>
		{% for t in i.tags %}
		<a class="itemtag" target="_blank" href="javascript:void(0)">
			#{{ t }}
		</a>
		{% endfor %}
		<a href="javascript:void(0)" class="tagadd">
			<span>+添加标签</span>
		</a>
		<form class="newtag">
			<input type="text" placeholder="输入标签">
			<button class="btn btn-sm">取消</button>
			<button type="submit" class="btn btn-primary btn-sm">添加</button>
		</form>	
	</div>
	<ul class="list-inline visit-favo-data">
		<li class="visit-data" title="浏览次数">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			<span class="badge-data">{{ i.click_num }}</span>
		</li>
		<li class="favo-data">
			{% ifin i.id request.user.favorites %}
			<a class="favo" title="取消收藏" href="javascript:void(0)">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			</a>
			{% else %}
			<a class="favo" title="添加收藏" href="javascript:void(0)">
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</a>
			{% endifin %}
			<span class="badge-data" title="收藏次数">{{ i.favo_num }}</span>
		</li>
	</ul>
	<div class="itembottom">
		<span>来源：</span>
		<a target="_blank" href="{% url 'lookclassify' %}?source[]={{ i.source }}">
			<span class="itemsource">
			    {{ i.source }}
			</span>
		</a>
		<span>&nbsp;&nbsp;</span>
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<span class="itemtime">
			{{ i.pubdate|date:"Y-m-d H:i:s" }}
		</span>
	</div>
	{% if i.imgurl %}
	<div style="clear:both;"></div> <!-- let img stay in div.item -->
	{% endif %}
</div>
{% endfor %}

{% if hasmore %}
<a class="col-md-12 col-sm-12 col-xs-12 viewmore" href="javascript:void(0)">
	<span>加载更多</span>
</a>
<a class="col-md-12 col-sm-12 col-xs-12 load-sm">
	<img src='/static/img/loadingsmall.gif'/>
</a>
{% endif %}