{% load newlibrary %}
{% reorder itemlist by orders as itemlist %}
{% for i in itemlist %}
<div class="item" id="{{ i.id }}">
	<img src="/static/img/favo.jpg" style="display: none;"/>
	<img src="/static/img/unfavo.jpg" style="display: none;"/>
	{% ifin i.id request.user.favorites %}
	<a class="favorite" title="取消收藏" href="javascript:void(0)"><img src="/static/img/favo.jpg" /></a>
	{% else %}
	<a class="favorite" title="添加收藏" href="javascript:void(0)"><img src="/static/img/unfavo.jpg" style="display: none;"/></a>
	{% endifin %}
	<div class="itemtop">
		<a href="{{ i.link }}" target="_blank" class="itemtitle">
			{{ i.title }}
		</a>
	</div>
	{% if i.imgurl %}
	<img class="col-md-4 col-sm-4 col-xs-12" src="{{ i.imgurl }}" />
	{% endif %}
	<span class="itemdes">
		{{ i.des }}
	</span>
	<div class="itemtaglist">
		<span>
			标签：
		</span>
		{% for t in i.tags %}
		<a class="itemtag" target="_blank" href="javascript:void(0)">
			#{{ t }}
		</a>
		{% endfor %}
		<a href="javascript:void(0)" class="tagadd">
			<span>+添加标签</span>
		</a>
		<form class="newtag">
			<input type="text" placeholder="输入标签">
			<button class="btn btn-sm">取消</button>
			<button type="submit" class="btn btn-primary btn-sm">添加</button>
		</form>	
	</div>
	<div class="itembottom">
		<span>来源：</span>
		<a target="_blank" href="{% url 'lookclassify' %}?source[]={{ i.source }}">
			<span class="itemsource">
			    {{ i.source }}
			</span>
		</a>
		<span>&nbsp;&nbsp;</span>
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<span class="itemtime">
			{% dtformat i.pubdate offset dtoffset %}
		</span>
	</div>
	{% if i.imgurl %}
	<div style="clear:both;"></div> <!-- let img stay in div.item -->
	{% endif %}
</div>
{% empty %}
	{% ifequal col 'recommend'%}系统尚未更新您的偏好信息或者尚未进行推荐{% endifequal %}
	{% ifequal col 'lookclassify'%}没有任何相关分类内容{% endifequal %}
	{% ifequal col 'selffavorites'%}您还没有收藏任何内容{% endifequal %}
	{% ifequal col 'search'%}没有搜索到任何结果{% endifequal %}
{% endfor %}

{% if hasmore %}
<a class="col-md-12 col-sm-12 col-xs-12 viewmore" href="javascript:void(0)">
	<span>加载更多</span>
</a>
<a class="col-md-12 col-sm-12 col-xs-12 load-sm">
	<img src='/static/img/loadingsmall.gif'/>
</a>

{% endif %}