<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" language='javascript' src='{{STATIC_URL}}js/jquery-1.11.1.min.js' >
    </script>
    <script type="text/javascript" language='javascript'src='{{STATIC_URL}}js/csrf.js' ></script>
    <script type="text/javascript" language='javascript' src='{{STATIC_URL}}js/index.js'></script>
</head>
<body>
	{% csrf_token %}
	{% include "rs_navi.html" %}
	<div class="ccontainer">
		<div class="content">
			<img src='/static/img/loadinglarge.gif' style='margin-top: 100px; margin-left: 100px;' />
		</div>
		<div class="right">
		</div>
		<a href="javascript:void(0)" class="backtotop"><img src="{{STATIC_URL}}img/backtotop.png" /></a>
	</div>
</body>
</html>