<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>话题列表</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>

    <!-- markdown editor
    <script type="text/javascript" src="{{STATIC_URL}}js/marked.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/editor.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/editor.css" />-->

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <!-- csrf -->
    <script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>
    <!-- self -->
    <link href="{{STATIC_URL}}css/topicmsg.css" rel="stylesheet">
    <!--<script type="text/javascript" src='{{STATIC_URL}}js/topicmsg.js' ></script>-->
</head>
<body>
<table class="table table-hover" id="topics">
    <tr class="info">
        <th>标题</th>
    </tr>
    {% for t in topiclist %}
    <tr class="active" id="{{ t.id }}">
      <td><a href="javascript:void(0)">{{ t.title }}</a></td>
    </tr>
    {% endfor %}
</table>
<button type="button" class="btn btn-primary" id="createtopic">创建话题</button>
</body>
<script type="text/javascript">
$(document).ready(function(){
    $("#createtopic").on("click", function(){
        $.post("/topicmsg/newtopicmodal", function(res){
            if(!res.errors){
                $("body").append(res.data);
                $("#newtopicmodal").modal("show");
            }
            else
                alert(res.errors);
        });
    });
    $("table#topics a").on("click", function(){
        var id = $(this).parents("tr").attr("id");
        var title = $(this).html();
        window.open('/topicmsg/topic?id='+id,title,'height='+ $(window).height()+',width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=yes,location=no,status=no,alwaysRaised=yes');
        return false;
    });
});
</script>
</html>